/* La fuente utilizada */
body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

/* el reseteo de las margenes por defecto */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos del header */
.barra {
    background-color: #62B56A;
    padding: 20px 0;
}

.bg{
    top: 20px;
    border-radius: 25px;
    margin: 10px;
    background-color: #D7F6DA;
}

.navbar{
    padding: 0;
}

.navbar-toggler:focus{
    box-shadow: none ;
}

@media(max-width:768px){
    .ul-bg{
    background-color: #62B56A;
    border-radius: 25px;
    }
}

nav .nav-item a:hover{
    color: #fff;
}

/* Estilos del Pie de pagina */
.footer {
    margin-top: 100px;
    background-color: #62B56A;
    padding: 60px 0;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
}

.footer-links {
    width: 25%;
    padding: 0 15px;
}

.footer-links h4 {
    font-size: 20px;
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid yellow;
    padding-bottom: 10px;
    display: inline-block;
}

.footer-links ul li a {
    font-size: 18px;
    color: #000000;
    text-decoration: none;
    display: block;
    margin-bottom: 15px;
    transition: all.3s ease;
}

.footer-links ul li a:hover {
    color: white;
    padding-left: 6px;
}

.social-link a {
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #000000;
    transition: all .5s ease;
}

.social-link a:hover {
    background-color: rgb(255, 255, 0);
}

@media(max-width:991px) {
    .footer-row {
        text-align: center;
    }

    .footer-links {
        width: 100%;
        margin-bottom: 30px;
    }
}

/*los botones en general y links*/
.btns{
    margin-top: 50px;
    margin-right: 10px;
}

.btns button{
    margin-right: 10px;
    margin-left: 10px;
}

.btn-secondary{
    background-color: #ffdd00;
    border-color: #ffdd00;
    width: 170px;
    height: 55px;
    border-radius: 10px;
}

.btn-success{
    background-color: #ffdd00;
    border-color: #ffdd00;
    width: 170px;
    height: 55px;
    border-radius: 10px;
}

.btn-secondary:hover{
    background-color: #fff;
    border-color: #000000;
}

.btn-success:hover{
    background-color: #fff;
    border-color: #000000;
}

/* Links */
.ofert{
    color: #000000;
    text-decoration: none;
}

.shop{
    color: #000000;
    text-decoration: none;
}

.ofert:hover{
    color: #000000;
}

.shop:hover{
    color: #000000;
}

link{
    color: #62B56A;
    
}